* {
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    margin-top: -30px;
    margin-bottom: -30px;
}

.nav-link {
    font-weight: 700;
    color: white;
}

.navbar {
    overflow: visible;
}

.container {
    
}

#busca input {
    border-radius: 2rem;
    cursor: pointer;
}

.filtro-item {
    display: flex;
}

.filtro-item a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    padding: .2rem;
    overflow: hidden;
}

.filtro-item a:not(:last-child) {
    border-right: 3px solid #e0e0e0;
}

.select-padrao {
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23888888' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: right 1rem center;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

#filtro-botao {
    height: 100%;
}

.ordenar-cursos-canto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#select-ordenar .select-padrao {
    min-width: 10rem;
    padding: .4rem .4rem;
    border: 2px solid #e0e0e0;
    background-size: 1rem;
    background-position: right 0.5rem center;
}

.cursos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    gap: 1rem;
}

.curso {
    background-color: #fff;
    border: 3px solid #e0e0e0;
    border-radius: .5rem;
    overflow: hidden;
}

.curso-lista-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.curso-imagem {
    position: relative;
}

.curso-imagem img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
}

.icone-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px 25px;
}

.icone-carreira {
    color: #20b8c0;
    background-color: #c2ffee;
}

.icone-gestao {
    color: #4b20c0;
    background-color: #dac2ff;
}

.icone-marketing {
    color: #c0b820;
    background-color: #feffc2;
}

.icone-desenvolvimento {
    color: #c02020;
    background-color: #ffc2c2;
}

.icone-sustentabilidade {
    color: #20c058;
    background-color: #c2ffcd;
}

.icone-educacao {
    color: #2055c0;
    background-color: #c2e1ff;
}

.icone-culinaria {
    color: #c08020;
    background-color: #ffe6c2;
}

.icone-curso {
    position: absolute;
    top: 15px;
    left: 15px;
}

.curso-titulo-container {
    padding: .5rem 1rem;
}

.curso-titulo h2 {
    font-size: 1.25rem;
    line-height: 0.5;
}

.curso-titulo a {
    color: #09294f;
    font-size: 1.25rem;
    text-decoration: none;
}

.curso-detalhes {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: auto;
}

.curso-detalhes-item {
    color: #444;
    font-size: 0.7rem;
}

.botao-detalhar {
    display: block;
    margin: 1rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: .4rem;
    background-color: #c2ffee;
    color: #20b8c0;
    text-decoration: none;
    font-size: .8rem;
    text-align: center;
    font-weight: 1000;
}

.botao-detalhar::after {
    content: " ➔";
}

.trilhas-container{
    max-width: 20rem;
    min-width: 10rem;
    padding: 1rem;
    border: 3px solid #e0e0e0;
    border-radius: .7rem;
    background-color: #f5f5f596;
}

.trilhas-container > h2 {
    color: #09294f;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.trilhas-container > p {
    color: #444;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.trilhas-lista {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.trilhas-lista a {
    text-decoration: none;
}

.trilha {
    background-color: #fff;
    border: 3px solid #e0e0e0;
    border-radius: .5rem;
}

.trilha-lista-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    overflow: hidden;
}

.trilha-detalhes {
    align-content: center;
    overflow: scroll;
}

.trilha-titulo {
    color: #09294f;
    font-size: .8rem;
    padding-bottom: .2rem;
}

.trilha-detalhe {
    color: #444444ac;
    font-size: .7rem;
}

.trilha-footer .botao-detalhar{
    margin: 1rem .5rem 0rem .5rem;
}