* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;
}

.caminho {
    display: inline-block;
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 10px;
    word-spacing: 10px;
    text-decoration: none;
}

.caminho span {
    word-spacing: normal;
}

h1 {
    font-size: 3.5rem;
    color: #09294f;
}

.cursos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
}

.curso {
    background-color: #fff;
    border: 3px solid #e0e0e0;
    border-radius: .5rem;
    overflow: hidden;
}

.curso-lista-item {
    max-width: 18rem;
}

.curso-imagem {
    position: relative;
}

.curso-imagem img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.icone-categoria {
    position: absolute;
    top: 15px;
    left:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f9ff50b3;
    border-radius: 10px;
    padding: 10px 25px;
}

.curso-titulo-container {
    padding: 1rem 1rem;
}

.curso-titulo a {
    color: #09294f;
    font-size: 1.25rem;
    text-decoration: none;
}

.curso-detalhes {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.curso-detalhes-item {
    color: #444;
    font-size: 0.7rem;
}

.curso-botao {
    display: block;
    margin: 1rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: .4rem;
    background-color: #c2ffee;
    color: #20b8c0;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 1000;
}

.curso-botao::after {
    content: " →";
}